.carrito-back {
    background-color: #EEE;
    padding-top: 2rem;
    min-height: 100vh;

    .carrito {
        background-color: #FFF;
        padding: 3rem;

        .cart-controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;

            p {
                margin: 0;
                font-size: 1.4rem;
            }

            button:last-child {
                margin-left: 1rem;
            }
        }

        .cart-empty {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 1.3rem;
            }
        }
    }
}