.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem 25%;
    padding: 2rem 0;
    background-color: #eee;

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 2.5rem 5rem;
    
        button {
            margin-top: .5rem;
        }
        .form-item, button {
            width: 90%;
            margin-bottom: 1.6rem;
            text-align: center;
            position: relative;

            input {
                width: 100%;
                padding: .4rem;
                border: none;
                border-bottom: solid orange 1px;
                outline: none;
                
            }

            .error-msg {
                position: absolute;
                color: red;
                font-size: smaller;
                font-style: italic;
            }

            .invalid {
                color: red;
                border-bottom: solid red 1px;

                &::placeholder {
                    color: red;
                }
            }
        }
    }
}
