.hide {
    visibility: hidden;
    opacity: 0;
}

.show {
    opacity: 1;
    visibility: visible;
}

.widget-container {
    display: flex;
    align-items: center;
    position: relative;
    transition: .4s ease-out all;

    .widget-number {
        background-color: red;
        color: #FFF;
        border-radius: .2rem;
        width: 1rem;
        text-align: center;
        font-size: .8rem;
        position: absolute;
        left: -1rem;
        top: -.5rem;
    }
    
}