
.my-nav {
    background-color: #444;
    color: #f5f5dc;
    display: flex;
    align-items: center;
    padding: .8rem 1.5rem;

    .link {
        color: #f5f5dc;
        text-decoration: none;
        transition: .5s;

        &:hover {
            transform: scale(1.2);
        }
    }

    .nav-list {
        list-style: none;
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0 2rem;

        li {
            transition: .5s;
        
            &:hover {
                transform: scale(1.2);
            }
        }
    }

    h1 {
        font-size: 2rem;
        padding: 0;
        margin: 0;
        margin-right: 6rem;
        transition: .5s;

        &:hover {
            transform: scale(1.1);
        }
    }
}