
.my-nav {
    background-color: #444;
    color: #f5f5dc;
    display: flex;
    align-items: center;
    padding: .8rem 1.5rem;

    .nav-list {
        list-style: none;
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0 2rem;
    }

    h1 {
        font-size: 2rem;
        padding: 0;
        margin: 0;
        margin-right: 6rem;
    }
}