
.item-count-container {
    background-color: #444;
    border-radius: .7rem;
    text-align: center;
    display: flex;
    width: 100%;
    margin-bottom: 0;
    
    p {
        margin-bottom: 0;
    }

    .item-count-controlers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 1.2rem;

        span {
            margin-right: 1rem;
        }

        div {

            Button {
                border-radius: 0;
                
                &:focus {
                    box-shadow: none;
                }
            }

            Button:first-child{
                border-bottom-left-radius: .5rem;
                border-top-left-radius: .5rem;
            }
    
            Button:last-child{
                border-bottom-right-radius: .5rem;
                border-top-right-radius: .5rem;
            }
        }
    }
}